<% content_for :title do %>Veeam<% end %>
<div class="gridster">
  <ul>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="veeam" data-view="Veeam" data-title="Veeam"></div>
    </li>
  </ul>
</div>
